:root {
    --main-color: #7286D3;
    --secondary-color: #34385e;
    --third-color: #E5E0FF;
    --text-color: #FFFFFF;
}

@font-face
{
  src: url(fonts/YoungSerif-Regular.otf);
  font-family: youngserif;
}

body
{
  background: linear-gradient(45deg, #7286D3, #34385E, #E5E0FF);
  background-size: 1000% 1000%;
  animation: GradientBackground 30s ease infinite;
  font-family: youngserif;
  margin: 0px;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

a
{
    color: black;
}

a:link
{
    text-decoration: none;
}

ul
{
    list-style-type:none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: black;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    transition: 0.2s;
    border-radius: 5px;
}

li a:hover:not(.active)
{
    background-color: var(--main-color);
}

#title
{
    padding: 5px;
    background: black;
    color: white;
}

.left {
    display: flex;
    flex-direction: row;
}

#copyright
{
    text-align: center;
}

#wrapper1
{
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logo_only
{
    height: 150px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#login_link
{
    font-size: 14px;
    text-align: center;
}

#main_logo
{
    height: 100px;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: black;
}

#main_text_wrapper
{
    background: rgba(255, 255, 255, .3);
}

#main_header
{
    margin: 5%;
    font-size: 40px;
    color: black;
}

#main_inner_text
{
    margin: 5%;
    font-size: 20px;
}

#get_started
{
	padding: 5%;
	color: black;
	background-color: white;
}

.buttons
{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px;
    font-family: youngserif;
    transition: 0.2s;
}

.buttons:hover
{
	background-color: black;
	color: white;
}

.buttons-dark
{
    background-color: black;
    border-radius: 10px;
    border: black solid 2px;
    color: white;
    padding: 15px;
    font-family: youngserif;
    transition: 0.2s;
}

.buttons-dark:hover
{
	background-color: white;
	color: black;
}

.active
{
    color: black;
    background-color: white;
}

.secondBody {
    background-color: white;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Create content div that takes up the whole space available */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--text-color);
    height: 50px;
    margin: 10px 0 0;
}

.contentHeader {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0 0 30px; /* Create classes for common code such as this */
}

.ch-left {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    align-items: center;
}

.ch-right {
    padding: 0 20px;
}

.UIDiv {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 0 40px;
}

.view {
    display: flex;
    justify-content: center;
    padding: 0 0 40px;
}

.logout:hover {
    padding: 12px 30px;
}

.logout {
    background-color: var(--secondary-color);
    border: solid;
    border-color: var(--secondary-color);
    border-width: 2px;
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px 25px;
}

.usrBtn {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 8px 25px;
}

.usrBtn:hover {
    padding: 12px 30px;
}

.inStyle {
    border-radius: 8px;
    padding: 4px;
    border: solid;
    border-width: 2px; 
    border-color: grey;
    text-align: center;
}

/* The colors can be changed */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--main-color);
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 0;
}

.styled-table td {
    color: var(--main-color);
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--seconday-color);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--main-color);
}

.rowBtn {
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 8px;
    color: var(--text-color);
    padding: 8px 15px;
}

.rowBtn:hover {
    padding: 12px 20px;
}

.Popup {
    width: 400px;
    background-color: var(--main-color);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.Popup button {
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--secondary-color);
    padding: 8px 16px;
}

.Popup button:hover {
    padding: 12px 30px;
}

.Popup .close {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 10px 0px 0px;
    padding: 5px 0px;
}

.Popup p {
    align-self: flex-start;
    gap: 0px;
    margin: 1px;
}

#editPop {
    display: flex;
    flex-direction: column;
}

#addPop {
    display: flex;
    flex-direction: column;
}

#editPop input {
    border-radius: 6px;
}

#addPop input {
    border-radius: 6px;}

.openPop {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


@keyframes GradientBackground {
  0% {
	background-position: 0% 50%;
  }

  50% {
	background-position: 100% 50%;
  }

  100% {
	background-position: 0% 50%;
  }
};